button,
div,
form,
input {
  margin: 10px;
}

.gif_instructions {
  text-align: center;
}
.gif_arrange {
  float: left;
}

.container {
  background-color: lightgoldenrodyellow;
}

.gif-btn {
  background-color: aqua;
  border-radius: 20%;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  margin: auto;
}
h1 {
  margin: 10px;
}

.gifG,
#buttons-view,
#gif-form {
  text-align: center;
}
.gifG {
  font-size: 50px;
  color: blue;
}

#gif-input {
  margin-left: 0px;
}
