button,
div,
form,
input {
  margin: 10px;
}

.gif_arrange{
   float:left
}



.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  margin:auto
  
  
}
h1{
  margin:10px

}